<!-- Welcome Bar -->
<div class="container1">
  <div class="welcome-section">
    <p>Welcome Back</p>
    <h2><%= current_user.first_name || "Guest" %></h2>
  </div>
</div>

<!-- Search Bar -->
<div class="search-box">
  <%= form_with url: events_path, method: :get, class: "d-flex gap-2" do %>
  <div class="form-group">
    <%= label_tag :query, "Title" %>
    <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Search events..."
      %>
  </div>
  <div class="form-group">
    <%= label_tag :location, "Location" %>
    <%= text_field_tag :location,
        params[:location],
        class: "form-control"
      %>
  </div>
  <div class="form-group">
    <%= label_tag :date, "Date" %>
    <%= date_field_tag :date,
        params[:date],
        class: "form-control"
      %>
  </div>


  <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
  <% end %>
</div>

<!-- Your Events -->
<h3 class="section-title">Your Events</h3>

<% if @events.any? %>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Date</th>
        <th>Location</th>
        <th>Registrations</th>
      </tr>
    </thead>

    <tbody>
      <% @events.each do |event| %>
        <tr>
          <td><%= event.title %></td>
          <td><%= event.starts_at.strftime("%d.%m.%Y %H:%M") %></td>
          <td><%= event.location %></td>
          <td>
            <%= event.registrations.size %>
            <% if event.capacity.present? %>
              / <%= event.capacity %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>You don’t have any events yet.</p>
<% end %>

<ul>
  <% @events.each do |event| %>
    <li><%= link_to event.title, event_path(event) %></li>
  <% end %>
</ul>
